@import url("https://use.typekit.net/yyb7iis.css");

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "serenity", sans-serif;

}

h1{
    color: rgb(255, 255, 255);
    font-size: 10vh;
    font-weight:700;
}

h2{
    font-size: 7vh;
    font-weight: 600;
    color: #A65891;
}
p{
    font-size: 2.7vh;
    font-weight: 300;
    line-height: 1.3;
    text-align: justify;
}
a{
    text-decoration: none;
    color: black;
}
/* ---------------HEADER------------------- */
header{
    width: 80%;
    margin: auto;
    height: 10vh;
    position: relative;
}
nav{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
#a-logo{
    height: 70%;
    display: flex;
    justify-content: center;
}
#logo{
    scale: 1;
    height: 90%;
    margin: auto;
}
#mobile-menu-btn {
    display: none; /* Ocultar el botón en pantallas normales */
}
#mobile-menu{
    display: none;
}
#nav-menu{
    display: flex;
    justify-content: space-between;
    width: 30%;
}
#nav-menu a{
    text-decoration: none;
    color: black;
    transition: .3s;
}
#nav-menu a:hover{
    color: #A65891;
    scale: 1.1;
}
#nav-menu h3{
    font-weight: normal;
    font-size: 2.5vh;
}

/* --------------------MAIN---------------------- */
/** ----------------POPUPS */
.servicios-popups{
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 60%;
    border: black 3px solid;
    border-radius: 20px;
    background-image: url(/imagenes-titulo/imagenes-servicios/pop\ up\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
    transition: opacity .3s ease;
}
.servicios-popups.open{
    display: flex;
    opacity: 1;
}
.cerrar-popups{
    width: 3vh;
    /* position: absolute;
    right: 3%;
    top: 5%; */
    cursor: pointer;
    height: 3vh;
}
.encabezado-popups{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
}
.contenido-popups{
    width: 90%;
    height: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: space-around; */
}
.subtitulo-popups{
    /* height: 15vh; */
    /* line-height: 15vh; */
}
.contenido-popups p{
    /* font-size: 2.5vh; */
    /* height: 90%; */
    line-height: 4vh;
    font-weight: 300;
}
.contenido-popups p+p{
    text-indent: 20px;
    margin-top: .4vh;
}
.texto-popups{
    max-height: 70%;
    overflow-y: auto;
}
.texto-popups h3{
    font-size: 3vh;
    margin-top: 2vh;
}
.texto-popups li{
    font-size: 2.5vh;
    font-weight: 300;
    /* list-style-type:decimal; */
    margin-top: .5vh;
}

.button-popups{
    width: 40%;
    text-decoration: none;
    height: 10%;
    border: none;
    border-radius: 20px;
    margin: 2vh auto;
    color: white;
    transition: .3s all;
    cursor: pointer;
}
@media screen and (min-width: 1024px){
    .button-popups:hover{
        scale: 1.1;

    }
}
.button-popups a{
    color: white;
    text-decoration: none;
    font-size: 2.7vh;
    font-weight: 300;
}

.subtitulo-popup-par{
    color: #BF5B04;
}
.subtitulo-popup-impar{
    color: #A65891;
}

/* ------------------FOOTER-------------------- */
footer{
    background-image: url(/imagenes-titulo/pc/footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    padding-bottom: 2vh;
    justify-content: end;
    /* align-items: end; */
    flex-direction: column;
    margin: auto;
    height: 20vh;
    margin-top: 5vh;
    margin-bottom: 0;
}
.logo-footer{
    width: 14%;
    margin: 0 auto;
    height: auto;
}
.footer-redes{
    width: 5%;
    margin: 2vh auto 0;
    display: flex;
    justify-content: space-around;
}

.footer-redes img{
    width: 4vh;
}


/* !--------------- RESPONSIVE: TABLET ------------*/

@media screen and (min-width: 768px) and (max-width: 1023px) {

    h1{
        font-size: 6vh;
    }
    
    h2{
        font-size: 4vh;
    }
    p{
        font-size: 2vh;
        font-weight: 300;
    }

    /* HEADER */
    header{
        /* width: 90%; */
        height: 9vh;
    }
    #logo{
        height: 80%;
    }
    #nav-menu{
        /* Tiene flex */
        width: 45%;
    }
    #nav-menu a{
        transition: none;
    }
    #nav-menu a:hover{
        /* Cambio todo */
        color: black;
        scale: 1;
        cursor: auto;
    }
    #nav-menu h3{
        font-size: 2vh;
    }

    /* ------------------FOOTER-------------------- */
footer{
    display: flex;
    justify-content: end;
    /* align-items: end; */
    margin-top: 0vh;
}
.logo-footer{
    width: 30%;
}
.footer-redes{
    width: 13%;
    margin: 1vh auto 0;
    /* display: flex; */
    justify-content: space-between;
}
.footer-redes img{
    width: 3.5vh;
}

}

/* !--------------RESPONSIVE CELULAR -----------*/
@media only screen and (max-width: 768px) {
    
    header{
        width: 100%;
    }
    nav{
        width: 90%;
        margin: auto;
    }
    #nav-menu{
        /* Tiene flex */
        display: none;
        /* width: 50%; */
    }
    #mobile-menu-btn {
        display: block;
        cursor: pointer;
    }
    #mobile-menu-btn div {
        width: 25px;
        height: 3px;
        background-color: #000;
        margin: 5px;
    }
    #mobile-menu {
        box-sizing: content-box;
        display: none;
        position: absolute;
        flex-direction: column;
        justify-content: center;
        align-items: end;
        top: 100%;
        right: 0;
        background-color: #fff;
        width: 30%;
        padding: 10px;
        border-radius: 0px 0px 20px 20px;
    }
    #mobile-menu.open {
        display: flex;
    }
    #mobile-menu a {
        display: block;
        margin-bottom: 10px;
        font-size: 2vh;
        text-align: center;
        width: 100%;
    }
    
}

@media screen and (max-width: 767px) {

    h1{
        font-size: 7vh;
    }
    
    h2{
        font-size: 4vh;
    }
    p{
        font-size: 2.5vh;
        font-weight: 300;
    }

    /* HEADER */
    header{
        /* width: 90%; */
        height: 8vh;
    }
    #logo{
        height: 70%;
    }
    
    #nav-menu a{
        transition: none;
    }
    #nav-menu a:hover{
        /* Cambio todo */
        color: black;
        scale: 1;
        cursor: auto;
    }
    #nav-menu h3{
        font-size: 2vh;
    }

 /* ------------------FOOTER-------------------- */
footer{
    display: flex;
    justify-content: end;
    /* align-items: end; */
    margin-top: 0vh;
}
.logo-footer{
    width: 30%;
}
.footer-redes{
    width: 13%;
    margin: 1vh auto 0;
    /* display: flex; */
    justify-content: space-between;
}
.footer-redes img{
    width: 3.5vh;
}
}