@import url("https://use.typekit.net/yyb7iis.css");

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "serenity", sans-serif;

}

h1{
    color: rgb(255, 255, 255);
    font-size: 10vh;
    font-weight:700;
}

h2{
    font-size: 7vh;
    font-weight: 600;
    color: #A65891;
}
p{
    font-size: 2.7vh;
    font-weight: 300;
    line-height: 1.3;
    text-align: justify;
}

/* ---------------HEADER------------------- */
header{
    width: 80%;
    margin: auto;
    height: 10vh;
}
nav{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
#a-logo{
    height: 70%;
    display: flex;
    justify-content: center;
}
#logo{
    scale: 1;
    height: 90%;
    margin: auto;
}
#nav-menu{
    display: flex;
    justify-content: space-between;
    width: 30%;
}
#nav-menu a{
    text-decoration: none;
    color: black;
    transition: .3s;
}
#nav-menu a:hover{
    color: #A65891;
    scale: 1.1;
}
#nav-menu h3{
    font-weight: normal;
    font-size: 2.5vh;
}

/* ------------------FOOTER-------------------- */
footer{
    background-image: url(/imagenes-titulo/pc/footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    padding-bottom: 2vh;
    justify-content: end;
    /* align-items: end; */
    flex-direction: column;
    margin: auto;
    height: 20vh;
    margin-top: 5vh;
}
.logo-footer{
    width: 14%;
    margin: 0 auto;
    height: auto;
}
.footer-redes{
    width: 5%;
    margin: 2vh auto 0;
    display: flex;
    justify-content: space-around;
}

.footer-redes img{
    width: 4vh;
}